{% extends 'baseback.html.twig' %}
{% block title_page %}Informations sur le Client
{% endblock %}
{% block small_title %}Détails
{% endblock %}

{% block body %}
	
{# read and display all flash messages #}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
      
	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-body">
					<div class="table-responsive">
						<table class="table">
							<thead class="bg-danger text-white">
								<tr>
									<th>#ID</th>
									<th>Nom Complet</th>

									<th>Email</th>
									<th>Adresse</th>
									<th>Telephone</th>
									<th>Date Inscription</th>

								</tr>
							</thead>
							<tbody>
								<tr>
									<td>{{ item.id }}</td>
									<td>{{ item.nomComplet }}</td>

									<td>{{ item.Email }}</td>
									<td>{{ item.adresse }}</td>
									<td>{{ item.tel }}</td>
									<td>{{ item.dateCreation|date('Y-m-d H:i:s') }}</td>

								</tr>

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
